$bg-color: #07031a;
$lime-500: theme("colors.lime.500");
$lime-400: theme("colors.lime.400");
$yellow-400: theme("colors.yellow.400");
$orange-500: theme("colors.orange.500");
$red-500: theme("colors.red.500");
$circle-color : #c0bfbf25;