@import "./variables";
@import "./mixins";
@import "./functions";

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $bg-color;
  overflow-x: hidden;
  color: white;
}
.weather {
  z-index: 2;
}
.earth {
  z-index: 1;
}
.starry-sky {
  z-index: 0;
}

#stars-group-1 {
  @include stars-content(1800, white, 200, 1, 0);
}

#stars-group-2 {
  @include stars-content(3800, white, 200, 1, 0.1);
}

#stars-group-3 {
  @include stars-content(3800, white, 200, 1, 0.2);
}

#stars-group-4 {
  @include stars-content(3800, white, 200, 1, 0.3);
}

#stars-group-5 {
  @include stars-content(3800, white, 200, 1, 0.4);
}

#stars-group-6 {
  @include stars-content(3800, white, 200, 1, 0.5);
}

@keyframes glowing-stars {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.circle {
  background: $circle-color;
}
.circle.per-1 {
  @include progress-size($red-500 ,100% ,$circle-color);
}
.circle.per-2 {
  @include progress-size($orange-500, 25% ,$circle-color);
}
.circle.per-3 {
  @include progress-size($yellow-400 ,50% ,$circle-color);
}
.circle.per-4 {
  @include progress-size($lime-400 , 75% ,$circle-color);
}
.circle.per-5 {
  @include progress-size($lime-500, 100% ,$circle-color);
}

.circle .inner {
  transform: translate(-50%, -50%);
  background: $bg-color;
}
