@import "./variables";
@tailwind base;
@tailwind components;
@tailwind utilities;

.glassmorphism {
  @apply backdrop-filter backdrop-blur-xl bg-white bg-opacity-10 ;
}
.flex-center {
  @apply flex items-center justify-center;
}
.circle {
  background: $circle-color;
  @apply relative w-32 h-32 rounded-full overflow-hidden;
}
.circle .inner {
  @apply flex-center absolute w-[7.4rem] h-[7.4rem] rounded-full top-2/4 left-2/4;
  transform: translate(-50%, -50%);
  background: $bg-color;
}
.frame{
  @apply w-full h-full fixed overflow-y-scroll;
}